@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button {
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a,
button {
    text-decoration: none;
    cursor: pointer;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90px;
    display: flex;
    justify-content: space-between;
    /* padding: 15px 0; */
    align-items: center;
    background: #1f1f1f;
    color: #fff;
    font-size: 18px;
    border-bottom: 1px solid #fff;
}

nav a {
    color: #fff;
}

nav ul {
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
}   

nav ul li {
    list-style: none;
    display: inline;
    font-size: 24px;
}

nav ul li a:hover {
    color: #6EDD4C;
}

nav ul li::before {
    content: "|";
    margin-right: 40px;
}

nav ul li:first-child::before {
    content: none;
}

.join-discord {
    background: #fff;
    padding: 25px 35px 0 10px;
    text-align: center;
    width: 100px;
    height: 80px;
    position: relative;
    border-left: 3px solid #6EDD4C;
    color: #1f1f1f;
    transition: all 0.2s ease;
    font-size: 24px;
    line-height: 22px;
}

.join-discord .text {
    transition: all 0.25s ease;
}

.join-discord:hover .text {
    position: relative;
    transform: translate(30px, 15px);
}

.join-discord i {
    position: relative;
    transform: translate(45px, -10px);
    font-size: 28px;
    transition: all 0.25s ease;
}

.join-discord:hover{
    background: #6EDD4C;
    border-left: 3px solid #fff;
    color: #fff;
}

.join-discord:hover i {
    transform: translate(-20px, -40px);
}

.efek-garis-samping {
    background-color: rgba(0, 0, 0, 0.25);
    border-left: 1px solid; /* Di-overwrite oleh border-image */
    border-image: linear-gradient(to bottom, #1f1f1f 15%, #fff 25%) 1;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    height: 100vh;
    width: 40px;
}   

nav .logo {
    padding: 5px;
    width: 80px;
    position: relative;
}

nav .logo a::after {
    content: "";
    border-right: 1px solid #fff;
    margin-left: 25px;
}

nav .logo img {
    width: 100%;
    height: 100%;
    top: 8px;
    position: relative;
}

nav .logo a {
    display: flex;
}

nav .logo .name {
    text-align: left;
}

header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141414;
}

header .hero {
    position: relative;
    bottom: 80px;
    right: 40px;
}

header .hero h1 {
    color: #fff;
    font-weight: 500;
    font-size: 72px;
}

header .hero h1 mark {
    background: #6EDD4C;
    color: #fff;
}

header .btn-hero {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

header button {
    padding: 12px 18px;
    border-radius: 5px;
    border: 1px solid #fff;
    font-size: 18px;
    position: relative;
    transition: all 0.25s ease;
}

header button.btn-activity {
    background: #fff;
    color: #141414;
}

header button.btn-activity:hover {
    transform: translateY(-3px);
}

header button.btn-event {
    background: rgb(255, 255, 255, 0);
    color: #fff;
    border: 1px solid #fff;
}

header button.btn-event:hover {
    transform: translateY(-3px);
}